[color]
	diff = auto
	status = auto
	branch = auto
[user]
	email = lev.h.justin@gmail.com
	name = justin
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ig = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[push]
	default = simple
	followTags = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
[mergetool]
	keepBackup = false
[core]
	editor = nvim
